// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$yellow: #E4B437;
$light-yellow: #ffeea6;

$primary-color: #081627;
$secondary-color: #22193C;
$gradient: linear-gradient(to right, #fee93e, #ffc938, #ffaa3f, #ff8b4d, #ff6f5b, #ff6468, #fe5a77, #f95286, #fa5796, #f95da6, #f664b6, #f26cc5) ;