/****************************************************
author: Romeiros on Rails
year: 2020
****************************************************/

/* Vou ir colocando o CSS da HOME todo aqui, 
depois refatoramos, talkey?*/

/* Shared */
* {
    font-size: 20px;
}

.uppercase {
    text-transform: uppercase;
}

.title{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.subtitle{
    font-size: 1rem;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}
.description{}

/* Main */
.main {
    background-color: $primary-color;
    height: 85vh;
    text-align: center;
    display: grid;
}

.main-logo {
    color: $primary-text-color;
    font-size: 55px;
    font-weight: bold;
    margin-top: 40px;
}

.main-header{
    color: $primary-text-color;
    width: 30%;
    margin: 0 auto;
    font-weight: bold;
    text-align: -webkit-left;
}

.main-callout{}
.main-services{}
.main-btn{}


/* Companies */
.companies {
    background-image: $gradient;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.companies-logo {
    //example
    width: 12rem;
    height: 55px;
}


/* Packs */
.packs {
    height: fit-content;

    background-color: #081627;
    text-align: center;
}

.packs-title{}
.packs-description{}

.packs-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3.5rem;
    padding: 7rem;
}

.packs-card{
    background-color: #7FF6E6;
    border-radius: 10px;
    text-align: center;
}

.packs-card-optional {
    background-color: #ffc736;
    .packs-card-title {
        color: white;
        text-shadow: rgba(0, 0, 0, 0.9) 3px 3px 0px
    }
    .packs-card-description {
        color: #7FF6E6;
    }
}

.packs-card-services-list {
    list-style-type: none;
    width: 90%;
}

.packs-card-title{
    text-transform: uppercase;
    width: 50%;
    margin: 3rem auto 1rem;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
}

.packs-card-description{
    width: 72%;
    margin: 1rem auto 2rem;
    color: #FFC70F;
    text-shadow: rgba(0, 0, 0, 0.498039) -1px -1px 0px, rgba(0, 0, 0, 0.498039) -1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px -1px 0px;
    font-size: 1.6rem;
    font-family: wfont_ce1165_9245280adeea4022bb1edf97db4932e0,wf_9245280adeea4022bb1edf97d,orig_gotham_rounded_bold;
    font-weight: bold;
    line-height: 2rem;
}

.packs-card-services{}

.packs-card-service-title {
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
}
.packs-card-service-description {
    text-align: left;
    margin-bottom: 1.1rem;
}
.packs-card-price{
    font-size: 1.4rem;
    font-weight: bold;
    margin: 1rem auto 0;
}

.packs-card-deadline{
    font-size: 1rem;
}

.packs-card-btn{
    margin: 1.5rem auto 3.5rem;
}

// temp button design
.packs-card-btn button {
    padding: 16px 30px;
    width: 50%;
}



/* Workflow */
.workflow {
    height: auto;
    background-image: $gradient;
    padding: 60px;
}

.workflow-title {
    color: $primary-color;
}

.workflow-subtitle {
    color: white;
    width: 50%;
    margin-top: 10px;
}

.workflow-steps-card {
    width: 50%;
    padding: 55px 0 0;
    line-height: 2.2rem;
    list-style: none;
    margin: 0 auto;

}

.workflow-steps {
}

.workflow-step {
    list-style: none;
    padding-bottom: 2rem;
}
.workflow-btn {}


/* Clients */
.clients {
    text-align: center;
    height: 500px;
    background-color: $secondary-color;
    padding: 90px 0;
}

.clients-title {}
.clients-description {}
.clients-cards {}
.clients-card {}
.clients-card {}
.clients-card {}
.clients-btn {}


/* Us */
.us {
    text-align: center;
    height: fit-content;
    padding: 90px 0;
    background-color: $primary-color;
}

.us-title {    
    color: $primary-text-color;
}

.us-subtitle {
    color: $secondary-text-color;
}

.us-info {
    color: $primary-text-color;
    max-width: 55%;
    margin: 0 auto;
    padding: 5rem 0;
    text-align: left;
}

.us-btn {}


/* FAQ */
.faq {
    background-image: $gradient;
    height: fit-content;
    padding: 5rem 0;
    text-align: center;
}

.faq-title {
    color: $primary-color;

}

.faq-subtitle {
    color: white;
}

.faq-questions {
    margin: 2rem 0;
}

.faq-question {
    margin-bottom: 1rem;
}

.faq-question-title {
    font-weight: bold;
    font-size: 1.1rem;

}
.faq-question-answer {
    max-width: 50%;
    margin: 0 auto;
}

.faq-btn {
}


/* Team */
.team {
    height: fit-content;
    background-color: $primary-color;
    text-align: center;
    padding: 100px 0;
    
}
.team-title {
    color: yellow;
    margin: 3rem 0;
}
.team-member {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 100px;
    justify-content: center;
    align-content: center;
    height: 550px;
    width: auto;
}

.team-member-photo {
    background-color: green;
    height: 450px;
    width: 350px;
}

.team-member-info {
    padding: 40px 0px;
    width: 585px;
    text-align: left;
}

.team-member-info-title {
    color: $primary-text-color;
    font-size: 1.3rem;
    font-weight: bold;
}

.team-member-info-description {
    color: $primary-text-color;
    padding-top: 15px;
}

.team-btn {}


/* Footer */
.footer {
    height: 200px;
    background-image: $gradient;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-info {}
.footer-logo {}
.footer-year {
    font-weight: bold;
}
