/****************************************************
author: Romeiros on Rails
year: 2020
****************************************************/

/* Vou ir colocando o CSS da HOME todo aqui, 
depois refatoramos, talkey?*/

/* Shared */
.uppercase {
    text-transform: uppercase;
}
.btn {}

.title{
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}
.subtitle{
    font-size: 25px;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.description{}


/* Main */
.main {
    background-color: $primary-color;
    height: 85vh;
    text-align: center;
    display: grid;
}

.main__logo {
    color: $primary-text-color;
    font-size: 55px;
    font-weight: bold;
    margin-top: 40px;
}


.main__header{
    color: $primary-text-color;
    width: 30%;
    margin: 0 auto;
    font-weight: bold;
    text-align: -webkit-left;
}

.main__callout{}
.main__services{}
.main__btn{}


/* Companies */
.companies {
    background-image: $gradient;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.companies__logo {
    //example
    background-color: red;
    width: 85px;
    height: 45px;
}


/* Packs */
.packs {
    height: fit-content;
    background-color: $primary-color;
}

.packs__title{}
.packs__description{}
.packs__card{}
.packs__card__title{}
.packs__card__description{}
.packs__card__services{}
.packs__card__service--title {}
.packs__card__service--description {}
.packs__card__price{}
.packs__card__deadline{}
.packs__card__btn{}


/* Workflow */
.workflow {
    height: auto;
    background-image: $gradient;
    padding: 60px;
}

.workflow__title {
    color: $primary-color;
}

.workflow__subtitle {
    color: white;
    width: 50%;
    margin-top: 10px;
}

.workflow__steps__card {
    width: 50%;
    padding: 55px 0 0;
    line-height: 2.2rem;
    font-size: 20px;
    list-style: none;
    margin: 0 auto;

}

.workflow__steps {
}

.workflow__step {
    list-style: none;
    padding-bottom: 15px;
}
.workflow__btn {}


/* Clients */
.clients {
    text-align: center;
    height: 500px;
    background-color: $secondary-color;
    padding: 90px 0;
}

.clients__title {}
.clients__description {}
.clients__cards {}
.clients__card {}
.clients__card {}
.clients__card {}
.clients__btn {}


/* Us */
.us {
    text-align: center;
    height: fit-content;
    padding: 90px 0;
    background-color: $primary-color;
}

.us__title {    
    color: $primary-text-color;
}

.us__subtitle {
    color: $secondary-text-color;
}

.us__info {
    color: $primary-text-color;
    max-width: 55%;
    margin: 0 auto;
    padding: 60px 0;
    text-align: left;
    font-size: 20px;
}

.us__btn {}


/* FAQ */
.faq {
    background-image: $gradient;
    height: fit-content;
    padding: 90px 0;
    text-align: center;
}

.faq__title {
    color: $primary-color;

}

.faq__subtitle {
    color: white;
}

.faq__questions {
    margin: 45px 0;
}

.faq__question {
    margin-bottom: 20px;
}

.faq__question--title {
    font-weight: bold;
    font-size: 20px;

}
.faq__question--answer {
    max-width: 50%;
    margin: 0 auto;
}

.faq__btn {
}


/* Team */
.team {
    height: fit-content;
    background-color: $primary-color;
    text-align: center;
    padding: 100px 0;
    
}
.team__title {
    color: yellow;
    margin: 15px 0;
}
.team__member {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 100px;
    justify-content: center;
    align-content: center;
    height: 550px;
    width: auto;
}

.team__member__photo {
    background-color: green;
    height: 450px;
    width: 350px;
}

.team__member__info {
    padding: 40px 0px;
    width: 585px;
    text-align: left;
}

.team__member__info__title {
    color: $primary-text-color;
    font-size: 1.3rem;
    font-weight: bold;
}

.team__member__info__description {
    color: $primary-text-color;
    padding-top: 15px;
}

.team__btn {}


/* Footer */
.footer {
    height: 200px;
    background-image: $gradient;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__info {}
.footer__logo {}
.footer__year {
    font-weight: bold;
    font-size: 20px;
}
