<div class="main">
    <div class="main-logo">CODEIROS</div>
    <div class="main-header">
        <h1>Want to launch your startup?</h1>
        <h2>We have a pack for that.</h2>
    </div>
    <div class="main-callout"></div>
    <div class="main-services"></div>
    <div class="btn main-btn">
        <button>NEEEEEEED</button>
    </div>
</div>
<div class="companies">
    <%= link_to image_tag("logos/atomic", class: "companies-logo"), root_path %>
    <%= link_to image_tag("logos/brandfolder", class: "companies-logo"), root_path %>
    <%= link_to image_tag("logos/chargebee", class: "companies-logo"), root_path %>
    <%= link_to image_tag("logos/mlab", class: "companies-logo"), root_path %>
</div>
<div class="packs">

    <div class="packs-title">Discover our 6 packs to get from 0 to 1 🦄</div>
    <div class="packs-description">Understand what you’re buying, why, and when it’ll be delivered.</div>
    <div class="packs-cards">
        <!-- <%# CARD 1 %> -->
        <div class="packs-card">
            <div class="packs-card-title">Showcase Website</div>
            <div class="packs-card-description">Show the world your service or product</div>
            <div class="packs-card-services">
                <ul class="packs-card-services-list">
                    <!-- <%# SERVICE 1 %> -->
                    <li class="packs-card-service-title">⚙️ Simple & bulletproof</li>
                    <li class="packs-card-service-description">4 - 5 pages with optimal loading speed</li>
                    <!-- <%# SERVICE 2 %> -->
                    <li class="packs-card-service-title"> 📝 Blog and CMS Integration</li>
                    <li class="packs-card-service-description">Add your content by yourself</li>
                    <!-- <%# SERVICE 3 %> -->
                    <li class="packs-card-service-title">💎 Built by a top French engineer</li>
                    <li class="packs-card-service-description">No offshore outsourcing</li>
                    <!-- <%# SERVICE 4 %> -->
                    <li class="packs-card-service-title">🚀 Delivered ready to launch</li>
                    <li class="packs-card-service-description">Once our mission is completed, you'll be 100% independent</li>
                </ul>
            </div>
            <div class="packs-card-price">€3,000</div>
            <div class="packs-card-deadline">Delivered in 1 week</div>
            <div class="button packs-card-btn">
                <button>Get My Quote</button>
            </div>
        </div>
        <!-- <%# CARD 2 %> -->
        <div class="packs-card">
            <div class="packs-card-title">Showcase Website</div>
            <div class="packs-card-description">Show the world your service or product</div>
            <div class="packs-card-services">
                <ul class="packs-card-services-list">
                    <!-- <%# SERVICE 1 %> -->
                    <li class="packs-card-service-title">⚙️ Simple & bulletproof</li>
                    <li class="packs-card-service-description">4 - 5 pages with optimal loading speed</li>
                    <!-- <%# SERVICE 2 %> -->
                    <li class="packs-card-service-title"> 📝 Blog and CMS Integration</li>
                    <li class="packs-card-service-description">Add your content by yourself</li>
                    <!-- <%# SERVICE 3 %> -->
                    <li class="packs-card-service-title">💎 Built by a top French engineer</li>
                    <li class="packs-card-service-description">No offshore outsourcing</li>
                    <!-- <%# SERVICE 4 %> -->
                    <li class="packs-card-service-title">🚀 Delivered ready to launch</li>
                    <li class="packs-card-service-description">Once our mission is completed, you'll be 100% independent</li>
                </ul>
            </div>
            <div class="packs-card-price">€3,000</div>
            <div class="packs-card-deadline">Delivered in 1 week</div>
            <div class="button packs-card-btn">
                <button>Get My Quote</button>
            </div>
        </div>
        <!-- <%# CARD 3 %> -->
        <div class="packs-card">
            <div class="packs-card-title">Showcase Website</div>
            <div class="packs-card-description">Show the world your service or product</div>
            <div class="packs-card-services">
                <ul class="packs-card-services-list">
                    <!-- <%# SERVICE 1 %> -->
                    <li class="packs-card-service-title">⚙️ Simple & bulletproof</li>
                    <li class="packs-card-service-description">4 - 5 pages with optimal loading speed</li>
                    <!-- <%# SERVICE 2 %> -->
                    <li class="packs-card-service-title"> 📝 Blog and CMS Integration</li>
                    <li class="packs-card-service-description">Add your content by yourself</li>
                    <!-- <%# SERVICE 3 %> -->
                    <li class="packs-card-service-title">💎 Built by a top French engineer</li>
                    <li class="packs-card-service-description">No offshore outsourcing</li>
                    <!-- <%# SERVICE 4 %> -->
                    <li class="packs-card-service-title">🚀 Delivered ready to launch</li>
                    <li class="packs-card-service-description">Once our mission is completed, you'll be 100% independent</li>
                </ul>
            </div>
            <div class="packs-card-price">€3,000</div>
            <div class="packs-card-deadline">Delivered in 1 week</div>
            <div class="button packs-card-btn">
                <button>Get My Quote</button>
            </div>
        </div>
        <!-- <%# CARD 4 %> -->
        <div class="packs-card">
            <div class="packs-card-title">Showcase Website</div>
            <div class="packs-card-description">Show the world your service or product</div>
            <div class="packs-card-services">
                <ul class="packs-card-services-list">
                    <!-- <%# SERVICE 1 %> -->
                    <li class="packs-card-service-title">⚙️ Simple & bulletproof</li>
                    <li class="packs-card-service-description">4 - 5 pages with optimal loading speed</li>
                    <!-- <%# SERVICE 2 %> -->
                    <li class="packs-card-service-title"> 📝 Blog and CMS Integration</li>
                    <li class="packs-card-service-description">Add your content by yourself</li>
                    <!-- <%# SERVICE 3 %> -->
                    <li class="packs-card-service-title">💎 Built by a top French engineer</li>
                    <li class="packs-card-service-description">No offshore outsourcing</li>
                    <!-- <%# SERVICE 4 %> -->
                    <li class="packs-card-service-title">🚀 Delivered ready to launch</li>
                    <li class="packs-card-service-description">Once our mission is completed, you'll be 100% independent</li>
                </ul>
            </div>
            <div class="packs-card-price">€3,000</div>
            <div class="packs-card-deadline">Delivered in 1 week</div>
            <div class="button packs-card-btn">
                <button>Get My Quote</button>
            </div>
        </div>
        <!-- <%# CARD 5 %> -->
        <div class="packs-card">
            <div class="packs-card-title">Showcase Website</div>
            <div class="packs-card-description">Show the world your service or product</div>
            <div class="packs-card-services">
                <ul class="packs-card-services-list">
                    <!-- <%# SERVICE 1 %> -->
                    <li class="packs-card-service-title">⚙️ Simple & bulletproof</li>
                    <li class="packs-card-service-description">4 - 5 pages with optimal loading speed</li>
                    <!-- <%# SERVICE 2 %> -->
                    <li class="packs-card-service-title"> 📝 Blog and CMS Integration</li>
                    <li class="packs-card-service-description">Add your content by yourself</li>
                    <!-- <%# SERVICE 3 %> -->
                    <li class="packs-card-service-title">💎 Built by a top French engineer</li>
                    <li class="packs-card-service-description">No offshore outsourcing</li>
                    <!-- <%# SERVICE 4 %> -->
                    <li class="packs-card-service-title">🚀 Delivered ready to launch</li>
                    <li class="packs-card-service-description">Once our mission is completed, you'll be 100% independent</li>
                </ul>
            </div>
            <div class="packs-card-price">€3,000</div>
            <div class="packs-card-deadline">Delivered in 1 week</div>
            <div class="button packs-card-btn">
                <button>Get My Quote</button>
            </div>
        </div>
        <!-- <%# CARD 6 %> -->
        <div class="packs-card packs-card-optional">
            <div class="packs-card-title">Optional Features</div>
            <div class="packs-card-description">Need more? We can make it !</div>
            <div class="packs-card-services">
                <ul class="packs-card-services-list">
                    <!-- <%# SERVICE 1 %> -->
                    <li class="packs-card-service-title">✍️ Optimize your Google SEO.</li>
                    <li class="packs-card-service-description">Rank #1 in 6 months. Starting at €1,000</li>
                    <!-- <%# SERVICE 2 %> -->
                    <li class="packs-card-service-title">🎨 Modern Identity</li>
                    <li class="packs-card-service-description">A professional, modern graphic identity. Starting at €1,000</li>
                    <!-- <%# SERVICE 3 %> -->
                    <li class="packs-card-service-title">🎥 Video presentation</li>
                    <li class="packs-card-service-description">A video presentation of your concept or team. Starting at €1,000</li>
                    <!-- <%# SERVICE 4 %> -->
                    <li class="packs-card-service-title">🤖 Automation</li>
                    <li class="packs-card-service-description">Grow your LinkedIn & Twitter thanks to an automating robot. Starting at €290</li>
                    <!-- <%# SERVICE 5 %> -->
                    <li class="packs-card-service-title">🤖 Automation</li>
                    <li class="packs-card-service-description">Grow your LinkedIn & Twitter thanks to an automating robot. Starting at €290</li>
                </ul>
            </div>
            <!-- <div class="packs-card-price">€3,000</div>
            <div class="packs-card-deadline">Delivered in 1 week</div>
            <div class="button packs-card-btn">
                <button>Get My Quote</button>
            </div> -->
        </div>
    </div>
</div>
<div class="workflow">
    <div class="workflow-title title">Think of it like <span class="uppercase">Tetris</span></div>
    <div class="workflow-subtitle subtitle">
        Building your online business should be as easy & streamlined
        as ordering sushi with your favorite mobile app
    </div>
    <div class="workflow-steps-card">
        <ul class="workflow-steps">
            <li class="workflow-step">1️⃣ Ask for your quote + tell us more
            about your project at the same time.</li>
            <li class="workflow-step">2️⃣ An engineer from our team will call
            you back to go over things with you.</li>
            <li class="workflow-step">3️⃣ 7 days later, we will get back to you
            with a precise & detailed offer.</li>
            <li class="workflow-step">4️⃣ You'll be also contacted by the other
            experts you'll need: Google SEO, video production . . .</li>
            <li class="workflow-step">5️⃣  2-3 weeks later, the final product is
            delivered and you’re ready to launch. TADAAAA!</li>
        </ul>
    </div>
    <div class="btn workflow-btn"></div>
</div>
<div class="clients">
    <div class="clients-title title"></div>
    <div class="clients-subtitle subtitle"></div>
    <div class="clients-cards">
        <div class="clients-card"></div>
        <div class="clients-card"></div>
        <div class="clients-card"></div>
    </div>
    <div class="btn clients-btn"></div>
</div>
<div class="us">
    <div class="us-title title">Why the codeiros?</div>
    <div class="us-subtitle subtitle">
        We support entrepreneurs because we know they're going up against the big boss, every day.
    </div>
    <div class="us-info">
        <p>With PACKMAN, we want to make entrepreneurs’ lives easier. </p>
        <p>Whether you want to create a web platform like Airbnb, a mobile
        application like Uber or Tinder, or an e-commerce site inspired by
        Amazon's architecture, we wanted to create a packaged, transparent &
        affordable technological development offer.</p>
        <p>Straightforward pricing, a clear delivery date, listed
        functionalities... We have drawn inspiration from e-commerce methods to
        give you as much information as possible before signing your
        technological development quote.</p>
        <p>We also want to save you time by offering services associated with
        any business launch, with the best service providers in each area:
        Google SEO experts, definition of a graphic identity by a top design
        studio, video production, custom clothing with your logo, online
        training to master digital marketing...</p>
    </div>
    <div class="btn us-btn">
        <button>Let's go !</button>
    </div>
</div>
<div class="faq">
    <div class="faq-title title">F.A.Q.</div>
    <div class="faq-subtitle subtitle">
        Let’s save you like Princess Peach - here are some important answers
    </div>
    <div class="faq-questions">
        <div class="faq-question">
            <div class="faq-question-title">
                How can you show a price when you don't know the project at all?​
            </div>
            <div class="faq-question-answer">
                Prices on PACKMAN are only estimates. When you ask for a quote,
                we’re gonna ask you all about your project and send you a
                scoping doc with what we’re gonna build for the price you saw!
                Estimates based on design briefs always suck, so we prefer to do
                the opposite, telling you a price and letting you know what's
                included in it!
            </div>
        </div>
        <div class="faq-question">
            <div class="faq-question-title">
                How can you show a price when you don't know the project at all?​
            </div>
            <div class="faq-question-answer">
                Maxime and Morgan were sick of seeing people being completely
                lost when launching their business. PACKMAN is a transparent and
                fair one-stop-shop for ambitious entrepreneurs!
            </div>
        </div>
        <div class="faq-question">
            <div class="faq-question-title">
                How can you show a price when you don't know the project at all?​
            </div>
            <div class="faq-question-answer">
                PACKMAN has been imagined and built by entrepreneurs, for
                entrepreneurs! We would have loved to have had a Packman
                available when we launched our previous ventures!
            </div>
        </div>
        <div class="faq-question">
            <div class="faq-question-title">
                How can you show a price when you don't know the project at all?​
            </div>
            <div class="faq-question-answer">
                We’re not abandoning you! All of the companies that have teamed
                up here have other offers (visit their websites) to help you
                ride through the rollercoasters of entrepreneurship!
            </div>
        </div>
    </div>
    <div class="btn faq-btn">
        <button class="">Get our quote</button>
    </div>
</div>
<div class="team">
<
    <div class="team-title title">The team behind</div>
    <div class="team-info">
        <!-- <%# ANDRE %> -->
        <div class="team-member">
            <div class="team-member-photo"></div>
            <div class="team-member-info">
                <div class="team-member-info-title">
                    My name is André Ferrer, CEO of Codeiros.
                </div>
                <div class="team-member-info-description">
                    <p>During my engineering studies, I decided to launch Sparkmate
                    with my 2 best friends. Our goal was to build the best
                    company for engineers.</p>
                    <p>We're fully dedicated to redefining the way products are
                    developed.</p>

                    <p>Right now we provide simple, fast and comprehensive
                    engineering services for innovators and changemakers, but
                    that's only step one of our master plan ;)</p>

                    <p>I am so happy to launch PACKMAN, a specific, packaged and
                    transparent offer with Blondy!</p>
                </div>
            </div>
        </div>
        <!-- <%# BRUNA %> -->
        <div class="team-member">
            <div class="team-member-photo"></div>
            <div class="team-member-info">
                <div class="team-member-info-title">
                    My name is Breno Romeiro, CEO of Codeiros.
                </div>
                <div class="team-member-info-description">
                    <p> During my engineering studies, I decided to launch Sparkmate
                    with my 2 best friends. Our goal was to build the best
                    company for engineers.</p>
                    <p> We're fully dedicated to redefining the way products are
                    developed.</p>

                    <p>Right now we provide simple, fast and comprehensive
                    engineering services for innovators and changemakers, but
                    that's only step one of our master plan ;)</p>

                    <p>I am so happy to launch PACKMAN, a specific, packaged and
                    transparent offer with Blondy!</p>
                </div>
            </div>
        </div>
        <!-- <%# BRENO %> -->
        <div class="team-member">
            <div class="team-member-photo"></div>
            <div class="team-member-info">
                <div class="team-member-info-title">
                    My name is Bruna Romeiro, CEO of Codeiros.
                </div>
                <div class="team-member-info-description">
                    <p> During my engineering studies, I decided to launch Sparkmate
                        with my 2 best friends. Our goal was to build the best
                        company for engineers.</p>
                        <p> We're fully dedicated to redefining the way products are
                        developed.</p>

                        <p>Right now we provide simple, fast and comprehensive
                        engineering services for innovators and changemakers, but
                        that's only step one of our master plan ;)</p>

                        <p>I am so happy to launch PACKMAN, a specific, packaged and
                        transparent offer with Blondy!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="btn team-btn">
        <button>Jump on a call</button>
    </div>
</div>
<div class="footer">
    <div class="footer-info">
        <div class="footer-logo"></div>
        <div class="footer-year">2020©</div>
    </div>
</div>
