<div class="main">
    <div class="main__logo"></div>
    <div class="main__header"></div>
    <div class="main__callout"></div>
    <div class="main__services"></div>
    <div class="btn main__btn"></div>
</div>
<div class="companies">
    <a><img class="companies__logo"></a>
    <a><img class="companies__logo"></a>
    <a><img class="companies__logo"></a>
    <a><img class="companies__logo"></a>
    <a><img class="companies__logo"></a>
    <a><img class="companies__logo"></a>
</div>
<div class="packs">
    <div class="packs__title"></div>
    <div class="packs__description"></div>
    <div class="packs__cards">
        <%# CARD 1 %>
        <div class="packs__card">
            <div class="packs__card__title"></div>
            <div class="packs__card__description"></div>
            <div class="packs__card__services">
                <ul>
                    <%# SERVICE 1 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                    <%# SERVICE 2 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                    <%# SERVICE 3 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                    <%# SERVICE 4 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                </ul>
            </div>
            <div class="packs__card__price"></div>
            <div class="packs__card__deadline"></div>
            <div class="btn packs__card__btn"></div>
        </div>
        <%# CARD 2 %>
        <div class="packs__card">
            <div class="packs__card__title"></div>
            <div class="packs__card__description"></div>
            <div class="packs__card__services">
                <ul>
                    <%# SERVICE 1 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                    <%# SERVICE 2 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                    <%# SERVICE 3 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                    <%# SERVICE 4 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                </ul>
            </div>
            <div class="packs__card__price"></div>
            <div class="packs__card__deadline"></div>
            <div class="btn packs__card__btn"></div>
        </div>
        <%# CARD 3 %>
        <div class="packs__card">
            <div class="packs__card__title"></div>
            <div class="packs__card__description"></div>
            <div class="packs__card__services">
                <ul>
                    <%# SERVICE 1 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                    <%# SERVICE 2 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                    <%# SERVICE 3 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                    <%# SERVICE 4 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                </ul>
            </div>
            <div class="packs__card__price"></div>
            <div class="packs__card__deadline"></div>
            <div class="btn packs__card__btn"></div>
        </div>
        <%# CARD 4 %>
        <div class="packs__card">
            <div class="packs__card__title"></div>
            <div class="packs__card__description"></div>
            <div class="packs__card__services">
                <ul>
                    <%# SERVICE 1 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                    <%# SERVICE 2 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                    <%# SERVICE 3 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                    <%# SERVICE 4 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                </ul>
            </div>
            <div class="packs__card__price"></div>
            <div class="packs__card__deadline"></div>
            <div class="btn packs__card__btn"></div>
        </div>
        <%# CARD 5 %>
        <div class="packs__card">
            <div class="packs__card__title"></div>
            <div class="packs__card__description"></div>
            <div class="packs__card__services">
                <ul>
                    <%# SERVICE 1 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                    <%# SERVICE 2 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                    <%# SERVICE 3 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                    <%# SERVICE 4 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                </ul>
            </div>
            <div class="packs__card__price"></div>
            <div class="packs__card__deadline"></div>
            <div class="btn packs__card__btn"></div>
        </div>
        <%# CARD 6 %>
        <div class="packs__card">
            <div class="packs__card__title"></div>
            <div class="packs__card__description"></div>
            <div class="packs__card__services">
                <ul>
                    <%# SERVICE 1 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                    <%# SERVICE 2 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                    <%# SERVICE 3 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                    <%# SERVICE 4 %>
                    <li class="packs__card__service--title"></li>
                    <li class="packs__card__service--description"></li>
                </ul>
            </div>
            <div class="packs__card__price"></div>
            <div class="packs__card__deadline"></div>
            <div class="btn packs__card__btn"></div>
        </div>
    </div>
</div>
<div class="workflow">
    <div class="workflow__title"></div>
    <div class="workflow__description"></div>
    <div class="workflow__steps"></div>
    <div class="btn workflow__btn"></div>
</div>
<div class="clients">
    <div class="clients__title"></div>
    <div class="clients__description"></div>
    <div class="clients__cards">
        <div class="clients__card"></div>
        <div class="clients__card"></div>
        <div class="clients__card"></div>
    </div>
    <div class="btn clients__btn"></div>
</div>
<div class="us">
    <div class="us__title"></div>
    <div class="us__description"></div>
    <div class="us__info"></div>
    <div class="btn us__btn"></div>
</div>
<div class="faq">
    <div class="faq__title"></div>
    <div class="faq__description"></div>
    <div class="faq__questions">
        <div class="faq__question">
            <div class="faq__question--title"></div>
            <div class="faq__question--answer"></div>
        </div>
        <div class="faq__question">
            <div class="faq__question--title"></div>
            <div class="faq__question--answer"></div>
        </div>
        <div class="faq__question">
            <div class="faq__question--title"></div>
            <div class="faq__question--answer"></div>
        </div>
        <div class="faq__question">
            <div class="faq__question--title"></div>
            <div class="faq__question--answer"></div>
        </div>
    </div>
    <div class="btn faq__btn"></div>
</div>
<div class="team">
    <div class="team__title"></div>
    <div class="team__info">
        <%# ANDRE %>
        <div class="team__member">
            <div class="team__member__photo"></div>
            <div class="team__member__info">
                <div class="team__member__info__title"></div>
                <div class="team__member__info__description"></div>
            </div>
        </div>
        <%# BRUNA %>
        <div class="team__member">
            <div class="team__member__photo"></div>
            <div class="team__member__info">
                <div class="team__member__info__title"></div>
                <div class="team__member__info__description"></div>
            </div>
        </div>
        <%# BRENO %>
        <div class="team__member">
            <div class="team__member__photo"></div>
            <div class="team__member__info">
                <div class="team__member__info__title"></div>
                <div class="team__member__info__description"></div>
            </div>
        </div>
    </div>
    <div class="btn team__btn"></div>
</div>
<div class="footer">    
    <div class="footer__info">
        <div class="footer__logo"></div>
        <div class="footer__year"></div>
    </div>
</div>
